{% extends './base.html' %}
{%  load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}

{% block title %}
<title>Home</title>
{% endblock%}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center ">

    <form>
      <input type="text" name="search"       {% if search %} value={{search}} {% endif %}>
      <button type="submit" class="btn btn-success my-3">Search</button>
      {% if user.is_student %}
      <button onclick="window.location='{% url "taalim:dashboard_student" pk=user.id%}'" class="btn btn-success my-3"> {% bs_icon 'arrow-counterclockwise' %}</button>
      {% elif user.is_superuser %}
      <button onclick="window.location='{% url "taalim:dashboard_admin" pk=user.id%}'" class="btn btn-success my-3"> {% bs_icon 'arrow-counterclockwise' %}</button>
      {% endif %}
    </form>

<div class="shadow p-3 rounded mt-5 col-8 text-center" >

<table style="width: 100%;height: 100%; ">
  {% if user.is_student %}
  <tr>
    <th>ID</th>
  <th>Course</th>
  <th>Student</th>
  <th>Status</th>
  <th>Date</th>

</tr>

    {% for attendance in attendances %}

    <tr class="{% cycle "bg bg-success bg-opacity-25" "" %}" >
      {% if attendance.student == user %}

    <td>{{forloop.counter}}</td>
    <td>{{attendance.course}}</td>
      <td>{{attendance.student}}</td>
      <td>{{attendance.status}}</td>
      <td>{{attendance.created_at}}</td>
    </tr>      
    {% endif %}

    {% endfor %}
  </table>

  {% if attendances %}
  <p class="mt-3">Total = <strong>{{n}}%</strong></p>
  {% else %}
  <p class="mt-3">Total = <strong>0%</strong></p>
  {% endif %}

    {% elif user.is_superuser %}
    <tr>
      <th>ID</th>
    <th>Course</th>
    <th>Student</th>
    <th>Status</th>
    <th>Date</th>
  
  </tr>
  
      {% for attendance in attendances %}
      <tr class="{% cycle "bg bg-success bg-opacity-25" "" %}" >
      <td>{{forloop.counter}}</td>
      <td>{{attendance.course}}</td>
        <td>{{attendance.student}}</td>
        <td>{{attendance.status}}</td>
        <td>{{attendance.created_at}}</td>
      </tr>
      {% endfor %}

    </table>

    {% endif %}

  </table> 


</form>
</div>
{% if user.is_superuser %}
<button onclick="window.location='{% url "taalim:dashboard_admin" pk=user.id %}'" class="btn btn-success mt-5">Back</button>
{% elif user.is_student %}
<button onclick="window.location='{% url "taalim:dashboard_student" pk=user.id %}'" class="btn btn-success mt-5">Back</button>
{% endif %}
</div>
{% endblock%}