{% extends './base.html' %}
{%  load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}
{% block title %}

<title>Dashboard</title>
{% endblock%}

{% block content %}
<nav class="navbar bg bg-light">
  <a class="navbar-brand text-success ps-3" href="#">
    <img src="{% static 'taalim/favicon.jpg' %}" class="rounded" style="width: 50px" > 
    Taalim
  </a>
  <div class="d-flex gap-3 pe-5 align-items-center" >
  <p>Welcome: <strong>{{ user.username }}</strong> </p>
  {% if user.profile_pic %}
  <img src="{{user.profile_pic.url}}" alt="" style="width: 50px" class="rounded-circle me-3">
  {% endif %}  <p><a href="{% url 'logout' %}" class="pe-3 btn btn-success">Log Out</a></p>
</div>
</nav>
<button class="btn btn-success mt-3 ms-3" onclick="window.location='{% url 'taalim:home' %}' ; return false;" >back</button>

<div class="container d-flex flex-column gap-1 text-center col-3 mt-3 align-items-center shadow shadow-1 rounded">

<h4 class="mt-5">Student Dashboard</h4>
<div class="buttons d-flex flex-column align-items-stretch mb-5">
  
<button onclick="window.location='{% url "taalim:view_course_student" pk=user.id %}'" class="btn btn-success my-3"> {% bs_icon 'file-earmark-diff' %}Courses</button>
<button onclick="window.location='{% url "taalim:view_grades" pk=user.id %}'" class="btn btn-success my-3"> {% bs_icon 'list-check' %}My Grades</button>
<button onclick="window.location='{% url "taalim:view_semester" pk=user.id %}'" class="btn btn-success my-3"> {% bs_icon 'table' %}My Semester</button>
<button onclick="window.location='{% url "taalim:view_gpa" pk=user.id %}'" class="btn btn-success my-3"> {% bs_icon 'pencil-square' %}View Final Results</button>

</div>
</div>



  {% endblock%}