{% extends './base.html' %}
{%  load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}

{% block title %}
<title>Home</title>
{% endblock%}

{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center ">

    <form>
      <input type="text" name="search"       {% if search %} value={{search}} {% endif %}>
      <button type="submit" class="btn btn-success my-3">Search</button>
      <button onclick="window.location='{% url "taalim:dashboard_admin" pk=user.id%}'" class="btn btn-success my-3"> {% bs_icon 'arrow-counterclockwise' %}</button>
    </form>

<div class="shadow p-3 rounded mt-5 col-8" >

<table style="width: 100%;height: 100%; ">
  {% if user.is_student %}
  <tr>
    <th>ID</th>
  <th>Term</th>
  <th>Course Name</th>
  <th>Student Name</th>
</tr>

    {% for semester in semesters %}

    {% if user.get_username|stringformat:"s" == semester.students|stringformat:"s" %}
    {% for course in semester.courses.all %}
    <tr class="{% cycle "bg bg-success bg-opacity-25" "" %}" >
    <td>{{forloop.counter}}</td>
    <td>{{semester.term}}</td>
      <td>{{course}}</td>
      <td>{{semester.students}}</td>

    </tr>

        {% endfor %}
        {% endif %}
    {% endfor %}
  </table>
    {% elif user.is_superuser %}
    <table style="width: 100%;height: 100%; ">

    <tr>
      <th>ID</th>
    <th>Semester</th>
    <th>Action</th>

  </tr>

      {% for semester in semesters %}
      <tr class="{% cycle "bg bg-success bg-opacity-25" "" %}" >
        <td>{{forloop.counter}}</td>
        <td>{{semester}}</td>
        <td>
          <button onclick="window.location='{% url "taalim:edit_semester" pk=user.id id=semester.id %}'" class="btn btn-success my-3"> {% bs_icon 'pencil-square' %}Edit</button>
          <button onclick="window.location='{% url "taalim:delete_semester" pk=user.id id=semester.id %}'" class="btn btn-success my-3"> {% bs_icon 'trash3' %}Delete</button>
        </td>
    </tr>
{%  endfor %}


    {% endif %}

  </table> 


</form>
</div>
{% if user.is_superuser %}
<button onclick="window.location='{% url "taalim:dashboard_admin" pk=user.id %}'" class="btn btn-success mt-5">Back</button>
{% elif user.is_student %}
<button onclick="window.location='{% url "taalim:dashboard_student" pk=user.id %}'" class="btn btn-success mt-5">Back</button>
{% endif %}
</div>
{% endblock%}